<!DOCTYPE html>
{% extends 'Base.html' %}
{% load static %}
{% block body %}

  <div class="container" style="text-align:center;">
    <div class="row">
      <div class="col-6">
        <i class="material-icons" style="font-size:200px; padding-top:100px; text-align: center; color:#bcffd1;">question_answer</i>
      </div>
      <div class="col-6">
        <i class="material-icons" style="font-size:200px; padding-top:100px; text-align: center; color:#bcffd1;">perm_identity</i>
      </div>
    </div>
    <div class="row" style="border-bottom:solid #bcffd1 4px; padding-bottom: 50px;">
      <div class="col-6">
        <i style="font-size:50px; padding:20px; text-align: center; color:#7f7f7f;">Txer Help</i>
      </div>
      <div class="col-6">
        <i style="font-size:50px; padding:20px; text-align: center; color:#7f7f7f;">About Txer</i>
      </div>
    </div>
    <div class="row" style="padding-top:100px;">
      <div class="col-12">
        <i style="font-size:30px; padding-top:20px; text-align: center; color:#7f7f7f;">Txer is a online resource that helps you answer your messages</i>
      </div>
    </div>
  </div>

{% endblock %}
